<body>
    <div class="collection-container">
        <h2>My Pokémon Collection</h2>
        <h2>My Cards</h2>
        <div class="cards-container">
            {{#each myCollection}}
            <div class="card">
                <h2>{{name}}</h2>
                <p>Type: {{type}}</p>
                <p>HP: {{hp}}</p>
            </div>
            {{/each}}
        </div>

        <h2>Wanted Cards</h2>
        <div class="cards-container">
            {{#each wantedCards}}
            <div class="card">
                <h2>{{name}}</h2>
                <p>Type: {{type}}</p>
                <p>HP: {{hp}}</p>
            </div>
            {{/each}}
                       <a href="/logout">Logout</a>
        </div>
    </div>
</body>