<body>
    <div class="collection-container">
        <h2>My Pokémon Collection</h2>
        <h3>My Cards</h3>
        <div class="cards-container">
            {{#each cards}}
            <div class="card">
                <h2>{{name}}</h2>
                <p>Type: {{types}}</p>
                <img src="{{image}}" alt="{{name}}">
            </div>
            {{/each}}
        </div>

        <h3>Wanted Cards</h3>
        {{!-- <div class="cards-container">
            {{#each wantedCards}}
            <div class="card">
                <h2>{{name}}</h2>
                <p>Type: {{type}}</p>
                <p>HP: {{hp}}</p>
            </div>
            {{/each}} --}}
                       <a href="/logout">Logout</a>
        </div>
    </div>
</body>