<body>
    <div class="popular-container">
        <h1>Popular Pokémon Cards</h1>
        <div class="profile-dropdown">
            <div id="dropdown-content" class="dropdown-content">
                <a href="/collection">View Collection</a>
                <a href="/logout">Logout</a>
            </div>
        </div>

        <div class="cards-container">
            {{#each popularCards}}
            <div class="card">
                <h2>{{name}}</h2>
                <p>Type: {{type}}</p>
                <p>HP: {{hp}}</p>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="recent-container">
        <h1>Recently Searched Pokémon Cards</h1>
        <div class="cards-container">
            {{#each recentCards}}
            <div class="card">
                <h2>{{name}}</h2>
                <p>Type: {{type}}</p>
                <p>HP: {{hp}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</body>